
/*mensagem de contato*/
@media (min-width: 768px) {
    #myCarousel{margin-top: 30px}
}
.img-responsive{min-height: 300px;}
.carousel-control {
    padding-top: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 100px;
    color: #fff;
    text-align: center;
    text-shadow: none !important;
    background-color: transparent !important;/*rgba(0, 0, 0, 0)*/
    /*filter: alpha(opacity=50);
    opacity: .5;*/
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image:      -o-linear-gradient(left, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(255,255,255)), to(rgb(255,255,255)));
    background-image:         linear-gradient(to right, transparent, transparent 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparent, endColorstr=transparent, GradientType=0);*/
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image:      -o-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image:         linear-gradient(to right, transparent, transparent 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/
    background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    /*filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;*/
}

